Инициализация

In [ ]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Display up to 60 columns of a dataframe
pd.set_option('display.max_columns', 60)

# Matplotlib visualization
import matplotlib.pyplot as plt
%matplotlib inline

# Set default font size
plt.rcParams['font.size'] = 24

# Internal ipython tool for setting figure size
from IPython.core.pylabtools import figsize

# Seaborn for visualization
import seaborn as sns
sns.set(font_scale = 2)

# Splitting data into training and testing
from sklearn.model_selection import train_test_split

In [ ]:
#importing data
data_flat = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/flats.xlsx')
data_euro_ren = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/euro_renovation.xlsx')

In [ ]:
data = pd.concat([data_flat, data_euro_ren], ignore_index= True )
# Replace all occurrences of Not Available with numpy not a number
data = data.replace({'': np.nan, 'None': np.nan})

In [ ]:
for col in list(data.columns):
    # Select columns that should be numeric
    if ('area' in col or 'height' in col or 'owner_count' in col or 'lat' in col or 'lon' in col):
        # Convert the data type to float
        data[col] = data[col].replace(regex={',': '.'}).astype(float)
    elif 'rooms' == col:
        # If no data about amount of rooms set to 1.
        data[col] = data[col].replace(regex={np.nan: 1}).astype(int)
    elif 'build_year' == col:
        # If no data about year of building set to mean year.
        data[col] = data[col].fillna(np.round(data[col].mean()))
        data[col] = data[col].astype(int)
    elif 'all_data.house.has_garbage_disposer' == col:
        # If no data about garbage disposer set to False.
        data[col] = data[col].replace(regex={np.nan: False})
    elif 'has_gas' == col:
        # If no data about gas set to False.
        data[col] = data[col].replace(regex={np.nan: False})
    elif 'renovation' == col:
        # If no data about gas set to False.
        data[col] = data[col].replace(regex={np.nan: 'Без ремонта'})

In [ ]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()

        # Percentage of missing values
        mis_val_percent = 100 * mis_val / len(df)

        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})

        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)

        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")

        # Return the dataframe with missing information
        return mis_val_table_ren_columns

missing_values_table(data)

Your selected dataframe has 61 columns.
There are 41 columns that have missing values.

,Missing Values,% of Total Values
all_data.house.parking[4].display_name,8008,100.0
all_data.object_info.window_view[4].display_name,8008,100.0
all_data.object_info.window_view[3].display_name,7996,99.8
all_data.house.parking[3].display_name,7995,99.8
all_data.house.security[3].display_name,7958,99.3
all_data.object_info.window_view[2].display_name,7932,99.0
all_data.house.parking[2].display_name,7915,98.8
all_data.house.security[2].display_name,7791,97.3
all_data.house.parking[1].display_name,7710,96.2
all_data.object_info.garage_type.display_name,7662,95.6
all_data.object_info.window_view[1].display_name,7379,92.1
all_data.house.security[1].display_name,7376,92.1
all_data.house.infrastructure[4].display_name,7092,88.5
all_data.house.infrastructure[3].display_name,6776,84.6
all_data.object_info.loggias,6762,84.4
all_data.legal_options.years_ownership.display_name,6630,82.8
all_data.house.infrastructure[2].display_name,6516,81.3
all_data.legal_options.owner_count,6445,80.5
all_data.house.infrastructure[1].display_name,6321,78.9
all_data.house.security[0].display_name,6284,78.4
all_data.house.infrastructure[0].display_name,6268,78.2
all_data.house.yard[1].display_name,5981,74.7
bathroom_type,5976,74.6
all_data.legal_options.residence_minors,5890,73.5
all_data.object_info.redevelopment,5890,73.5
all_data.legal_options.owner_minors,5888,73.5
all_data.house.parking[0].display_name,5833,72.8
all_data.legal_options.mortgage,5759,71.9
all_data.house.ceiling_height,5339,66.6
all_data.legal_options.is_owner,5161,64.4
all_data.legal_options.is_individual,5161,64.4
all_data.house.yard[0].display_name,4515,56.4
all_data.object_info.window_view[0].display_name,4111,51.3
time_on_foot_to_subway,3568,44.5
all_data.object_info.living_area,2594,32.4
sale_type,1730,21.6
is_apartment,1673,20.9
house_wall_type,266,3.3
area,1,0.0
floor,1,0.0
price_sq,1,0.0

In [ ]:
# Get the columns with > 50% missing
missing_df = missing_values_table(data);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))
# Drop the columns
data = data.drop(columns = list(missing_columns))

Your selected dataframe has 61 columns.
There are 41 columns that have missing values.
We will remove 33 columns.

In [ ]:
# Change build_year to 2023 of apartment with build_year=23
data['build_year'] = data['build_year'].replace(regex={23: 2023})

In [ ]:
data['renovation'] = data['renovation'].replace(regex={'[Кк]осметический.*': 'Косметический', 'Отсутствует': 'Без ремонта', '[Тт]реб.*': 'Требует ремонта', '[ Ее]вро.*': 'Евроремонт'})

In [ ]:

print(data.pivot_table(index = ['renovation'], aggfunc ='size').sort_values(ascending=False))

renovation
Без ремонта                        3605
Косметический                      1805
Евроремонт                         1319
Требует ремонта                     597
Дизайнерский                        461
Хороший                              72
Под чистовой ремонт                  44
С отделкой                           39
Частичный ремонт                     20
чистовая отделка                     15
Предчистовая                          5
нормальное                            4
cosmetic                              3
хорошее                               2
предчистовая                          2
отличное                              2
Чистовая                              2
Под ключ                              2
design                                2
Произведен                            2
no                                    1
euro                                  1
Хорошее                               1
Чистовая отделка                      1
под самоотделку                       1
Предчистовая отделка                  1
чистовая                              1
Подготовка под чистовую отделку       1
dtype: int64

In [ ]:
# New column with total price (price of squere multiply area of apartment)
data['price'] = data.apply(lambda row: row.price_sq * row.area, axis=1)

In [ ]:
figsize(8, 8)

# Histogramma price of appartment by amount

# Histogram of the Energy Star Score
plt.style.use('fivethirtyeight')
plt.hist(data['price'].dropna(), bins = 100, edgecolor = 'k');
plt.xlabel('Price'); plt.ylabel('Amount');
plt.title('Price by amount');

In [ ]:
# Create a list of ren types with more than 100 apartments
types = data.dropna(subset=['price'])
types = types['renovation'].value_counts()
types = list(types[types.values > 100].index)
print(types)

# Plot of distribution of scores for building categories
figsize(12, 10)


# Plot each building
for b_type in types:
    # Create subset with all renovation type = b_type
    subset = data[data['renovation'] == b_type]

    # Density plot of Price
    sns.kdeplot(subset['price'].dropna(), label = b_type);

# label the plot
plt.xlabel('Price', size = 20); plt.ylabel('Density', size = 20);
plt.title('Density Plot of Price by Rennovation Type', size = 28);

In [ ]:
# Create a list of cities with more than 100 apartments
types = data.dropna(subset=['price'])
types = types['city'].value_counts()
types = list(types[types.values > 100].index)

# Plot of distribution of scores for building categories
figsize(12, 10)


# Plot each building
for b_type in types:
    # Create subset with all renovation type = b_type
    subset = data[data['city'] == b_type]

    # Density plot of Price
    sns.kdeplot(subset['price'].dropna(),  label = b_type);

# label the plot
plt.legend()
plt.xlabel('Price', size = 20); plt.ylabel('Density', size = 20);
plt.title('Density Plot of Price by City', size = 28);

In [ ]:
# Create a list of house wall types with more than 100 apartments
types = data.dropna(subset=['price'])
types = types['house_wall_typel'].value_counts()
types = list(types[types.values > 100].index)

# Plot of distribution of scores for building categories
figsize(12, 10)


# Plot each building
for b_type in types:
    # Create subset with all renovation type = b_type
    subset = data[data['renovation'] == b_type]

    # Density plot of Price
    sns.kdeplot(subset['price'].dropna(),  label = b_type);

# label the plot
plt.legend()
plt.xlabel('Price', size = 20); plt.ylabel('Density', size = 20);
plt.title('Density Plot of Price by house_wall_type', size = 28);

In [ ]:
# Find all correlations and sort
correlations_data = data.corr()['price'].sort_values()

# Print the most negative correlations
print(correlations_data.head(15), '\n')

# Print the most positive correlations
print(correlations_data.tail(15))

In [ ]:
# Select the numeric columns
numeric_subset = data.select_dtypes('number')

# Create columns with square root and log of numeric columns
for col in numeric_subset.columns:
    # Skip the Energy Star Score column
    if col == 'price':
        next
    else:
        numeric_subset['sqrt_' + col] = np.sqrt(numeric_subset[col])
        numeric_subset['log_' + col] = np.log(numeric_subset[col])

# Select the categorical columns
categorical_subset = data[['city', 'renovation','house_wall_type']]

# One hot encode
categorical_subset = pd.get_dummies(categorical_subset)

# Join the two dataframes using concat
# Make sure to use axis = 1 to perform a column bind
features = pd.concat([numeric_subset, categorical_subset], axis = 1)

# Drop buildings without an energy star score
features = features.dropna(subset = ['price'])

# Find correlations with the score
correlations = features.corr()['price'].dropna().sort_values()

In [ ]:
# Display most negative correlations
correlations.head(15)

In [ ]:
# Display most positive correlations
correlations.tail(15)

Коэффициент корреляции 0,57

In [ ]:
figsize(20, 15)

# Extract the building types
features['renovation'] = data.dropna(subset = ['price'])['renovation']

# Limit to building types with more than 100 observations (from previous code)
features = features[features['renovation'].isin(types)]

# Use seaborn to plot a scatterplot of Score vs Log Source EUI
sns.lmplot(x='price', y='area', hue = 'renovation', data = features,
          scatter_kws = {'alpha': 0.8, 's': 60}, fit_reg = False,
          aspect = 2,);

# Plot labeling
plt.xlabel("price", size = 28)
plt.ylabel('area', size = 28)
plt.title('Energy Star Score vs Site EUI', size = 36);

In [ ]:
figsize(20, 15)

# Extract the building types
features['city'] = data.dropna(subset = ['price'])['city']
# Limit to building types with more than 100 observations (from previous code)
features = features[features['city'].isin(types)]

# Use seaborn to plot a scatterplot of Score vs Log Source EUI
sns.lmplot(x='price', y='area', hue = 'city', data = features,
          scatter_kws = {'alpha': 0.8, 's': 60}, fit_reg = False,
          aspect = 2,);

# Plot labeling
plt.xlabel("price", size = 28)
plt.ylabel('area', size = 28)
plt.title('Energy Star Score vs Site EUI', size = 36);

In [ ]:
figsize(20, 15)

# Extract the building types
features['house_wall_type'] = data.dropna(subset = ['price'])['house_wall_type']
# Limit to building types with more than 100 observations (from previous code)
features = features[features['house_wall_type'].isin(types)]

# Use seaborn to plot a scatterplot of Score vs Log Source EUI
sns.lmplot(x='price', y='area', hue = 'house_wall_type', data = features,
          scatter_kws = {'alpha': 0.8, 's': 60}, fit_reg = False,
          aspect = 2,);

# Plot labeling
plt.xlabel("price", size = 28)
plt.ylabel('area', size = 28)
plt.title('Energy Star Score vs Site EUI', size = 36);

In [ ]:
# Extract the columns to  plot
plot_data = features[['price', 'area',
                      'build_year', 'rooms']]

# Replace the inf with nan
plot_data = plot_data.replace({np.inf: np.nan, -np.inf: np.nan})


# Drop na values
plot_data = plot_data.dropna()

# Function to calculate correlation coefficient between two columns
def corr_func(x, y, **kwargs):
    r = np.corrcoef(x, y)[0][1]
    ax = plt.gca()
    ax.annotate("r = {:.2f}".format(r),
                xy=(.2, .8), xycoords=ax.transAxes,
                size = 20)

# Create the pairgrid object
grid = sns.PairGrid(data = plot_data)

# Upper is a scatter plot
grid.map_upper(plt.scatter, color = 'red', alpha = 0.6)

# Diagonal is a histogram
grid.map_diag(plt.hist, color = 'red', edgecolor = 'black')

# Bottom is correlation and density plot
grid.map_lower(corr_func);
grid.map_lower(sns.kdeplot, cmap = plt.cm.Reds)

# Title for entire plot
plt.suptitle('Pairs Plot of Energy Data', size = 36, y = 1.02);

In [ ]:
# Select the numeric columns
numeric_subset = data.select_dtypes('number')

# Create columns with log of numeric columns
for col in numeric_subset.columns:
    # Skip the Energy Star Score column
    if col == 'price':
        next
    else:
        numeric_subset['log_' + col] = np.log(numeric_subset[col])

# Select the categorical columns
categorical_subset = data[['city', 'house_wall_type', 'renovation', 'is_apartment', 'has_gas', 'sale_type',]]

# One hot encode
categorical_subset = pd.get_dummies(categorical_subset)

# Join the two dataframes using concat
# Make sure to use axis = 1 to perform a column bind
features = pd.concat([numeric_subset, categorical_subset], axis = 1)

features.shape

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

(8011, 90)

In [ ]:
features.info()

In [ ]:
def remove_collinear_features(x, threshold):
    '''
    Objective:
        Remove collinear features in a dataframe with a correlation coefficient
        greater than the threshold. Removing collinear features can help a model
        to generalize and improves the interpretability of the model.

    Inputs:
        threshold: any features with correlations greater than this value are removed

    Output:
        dataframe that contains only the non-highly-collinear features
    '''

    # Dont want to remove correlations between Energy Star Score
    y = x['price']
    x = x.drop(columns = ['price'])

    # Calculate the correlation matrix
    corr_matrix = x.corr()
    iters = range(len(corr_matrix.columns) - 1)
    drop_cols = []

    # Iterate through the correlation matrix and compare correlations
    for i in iters:
        for j in range(i):
            item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
            col = item.columns
            row = item.index
            val = abs(item.values)

            # If correlation exceeds the threshold
            if val >= threshold:
                # Print the correlated features and the correlation value
                # print(col.values[0], "|", row.values[0], "|", round(val[0][0], 2))
                drop_cols.append(col.values[0])

    # Drop one of each pair of correlated columns
    drops = set(drop_cols)
    x = x.drop(columns = drops)

    # Add the score back in to the data
    x['price'] = y

    return x


features = remove_collinear_features(features, 0.6);

In [ ]:
# Remove any columns with all na values
features  = features.dropna(axis=1, how = 'all')
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8010 entries, 0 to 8010
Data columns (total 64 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          8010 non-null   int64
 1   offer_views                                 8010 non-null   int64
 2   lat                                         8010 non-null   float64
 3   lon                                         8010 non-null   float64
 4   price_sq                                    8010 non-null   float64
 5   area                                        8010 non-null   float64
 6   floor                                       8010 non-null   float64
 7   balconies                                   8010 non-null   int64
 8   lifts                                       8010 non-null   int64
 9   freight_lifts                               8010 non-null   int64
 10  time_on_foot_to_subway                      4443 non-null   float64
 11  build_year                                  8010 non-null   int64
 12  duplicates_count                            8010 non-null   int64
 13  log_offer_views                             3563 non-null   float64
 14  city_поселение Московский                   8010 non-null   uint8
 15  city_поселение Мосрентген                   8010 non-null   uint8
 16  city_поселение Сосенское                    8010 non-null   uint8
 17  house_wall_type_Блочный                     8010 non-null   uint8
 18  house_wall_type_Деревянный                  8010 non-null   uint8
 19  house_wall_type_Железобетон                 8010 non-null   uint8
 20  house_wall_type_Иные                        8010 non-null   uint8
 21  house_wall_type_Кирпично-монолитный         8010 non-null   uint8
 22  house_wall_type_Кирпичный                   8010 non-null   uint8
 23  house_wall_type_Монолитно-кирпичный         8010 non-null   uint8
 24  house_wall_type_Монолитный                  8010 non-null   uint8
 25  house_wall_type_Панельный                   8010 non-null   uint8
 26  house_wall_type_Смешанные                   8010 non-null   uint8
 27  renovation_cosmetic                         8010 non-null   uint8
 28  renovation_design                           8010 non-null   uint8
 29  renovation_euro                             8010 non-null   uint8
 30  renovation_no                               8010 non-null   uint8
 31  renovation_Без ремонта                      8010 non-null   uint8
 32  renovation_Дизайнерский                     8010 non-null   uint8
 33  renovation_Евроремонт                       8010 non-null   uint8
 34  renovation_Косметический                    8010 non-null   uint8
 35  renovation_Под ключ                         8010 non-null   uint8
 36  renovation_Под чистовой ремонт              8010 non-null   uint8
 37  renovation_Подготовка под чистовую отделку  8010 non-null   uint8
 38  renovation_Предчистовая                     8010 non-null   uint8
 39  renovation_Предчистовая отделка             8010 non-null   uint8
 40  renovation_Произведен                       8010 non-null   uint8
 41  renovation_С отделкой                       8010 non-null   uint8
 42  renovation_Требует ремонта                  8010 non-null   uint8
 43  renovation_Хорошее                          8010 non-null   uint8
 44  renovation_Хороший                          8010 non-null   uint8
 45  renovation_Частичный ремонт                 8010 non-null   uint8
 46  renovation_Чистовая                         8010 non-null   uint8
 47  renovation_Чистовая отделка                 8010 non-null   uint8
 48  renovation_нормальное                       8010 non-null   uint8
 49  renovation_отличное                         8010 non-null   uint8
 50  renovation_под самоотделку                  8010 non-null   uint8
 51  renovation_предчистовая                     8010 non-null   uint8
 52  renovation_хорошее                          8010 non-null   uint8
 53  renovation_чистовая                         8010 non-null   uint8
 54  renovation_чистовая отделка                 8010 non-null   uint8
 55  is_apartment_False                          8010 non-null   uint8
 56  is_apartment_True                           8010 non-null   uint8
 57  has_gas_False                               8010 non-null   uint8
 58  has_gas_False                               8010 non-null   uint8
 59  sale_type_Альтернатива                      8010 non-null   uint8
 60  sale_type_Первичная продажа                 8010 non-null   uint8
 61  sale_type_Переуступка                       8010 non-null   uint8
 62  sale_type_Продажа от застройщика            8010 non-null   uint8
 63  sale_type_Свободная продажа                 8010 non-null   uint8
dtypes: float64(7), int64(7), uint8(50)
memory usage: 1.3 MB

In [ ]:
# Extract the buildings with no score and the buildings with a score
no_price = features[features['price'].isna()]
price = features[features['price'].notnull()]

print(no_price.shape)
print(price.shape)

(1, 65)
(8010, 65)

In [ ]:
# Separate out the features and targets
features = price.drop(columns='price')
targets = pd.DataFrame(price['price'])

# Replace the inf and -inf with nan (required for later imputation)
features = features.replace({np.inf: np.nan, -np.inf: np.nan})

# Split into 70% training and 30% testing set
train_features, test_featuers, train_labels, test_labels = train_test_split(features, targets, test_size = 0.3, random_state = 42)

print(train_features.shape)
print(test_featuers.shape)
print(train_labels.shape)
print(test_labels.shape)

(5607, 64)
(2403, 64)
(5607, 1)
(2403, 1)

In [ ]:
# Function to calculate mean absolute error
def mae(y_true, y_pred):
    return np.nanmean(abs(y_true - y_pred))


baseline_guess = np.nanmedian(train_labels)

print('The baseline guess is a price of %0.2f' % baseline_guess)
print("Baseline Performance on the test set: MAE = %0.4f" % mae(test_labels, baseline_guess))

The baseline guess is a price of 6198999.10
Baseline Performance on the test set: MAE = 1930684.6877

In [ ]:
no_price.to_csv('/content/drive/MyDrive/Colab Notebooks/data/no_price.csv')
train_features.to_csv('/content/drive/MyDrive/Colab Notebooks/data/train_features.csv')
test_featuers.to_csv('/content/drive/MyDrive/Colab Notebooks/data/test_featuers.csv')
train_labels.to_csv('/content/drive/MyDrive/Colab Notebooks/data/train_labels.csv')
test_labels.to_csv('/content/drive/MyDrive/Colab Notebooks/data/test_labels.csv')